.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.create-form label {
  color: rgb(39, 39, 39) !important;
  font-size: 12px !important;
}

.create-form-black label {
  color: rgb(255, 255, 255) !important;
  font-size: 22px !important;
}
